body {
  font-size: 14px;
  font-family: Helvetica, sans-serif, Arial;
  color: #888888;
  line-height: 1.7142857143;
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

.time {
  background: url(./images/icon_time.png) left top 4px no-repeat;
  align-items: center;
  padding-left: 26px;
}

/*block*/
/*header*/
.header {
  padding: 30px 0px;
}
.header__inner {
  margin-right: auto;
  margin-left: auto;
  width: 88%;
  max-width: 800px;
}
.header__logo {
  margin-left: auto;
  margin-right: auto;
}

/*footer*/
.footer {
  padding: 100px 0 40px;
  background-color: #202124;
}
.footer__inner {
  margin-right: auto;
  margin-left: auto;
  width: 88%;
  max-width: 800px;
}
.footer__copy {
  color: #BBBBBB;
  font-size: 12px;
}

/*unit*/
.unit {
  padding-bottom: 60px;
}
.unit__inner {
  margin-right: auto;
  margin-left: auto;
  width: 88%;
  max-width: 800px;
}
.unit__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.unit__catch {
  color: #FA6980;
  margin-bottom: 10px;
}
.unit__title {
  font-size: 18px;
  color: #202124;
  margin-bottom: 15px;
}
.unit__border {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 10px;
}
.unit__text {
  margin-bottom: 20px;
}
.unit__btn {
  display: block;
  width: 160px;
  margin-top: 25px;
  margin-left: auto;
  padding: 14px;
  background-color: #202124;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.card {
  background-color: #FFFFFF;
}
.card__box {
  padding: 35px;
}
.card__title {
  font-size: 18px;
  color: #202124;
  margin-bottom: 15px;
}
.card__btn {
  display: block;
  width: 160px;
  margin-top: 25px;
  margin-left: auto;
  padding: 14px;
  background-color: #FA6980;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/*main*/
/*news*/
.news {
  padding: 30px 0 60px;
}
.news__inner {
  margin-right: auto;
  margin-left: auto;
  width: 88%;
  max-width: 800px;
}
.news__title {
  font-size: 24px;
  color: #202124;
  margin-bottom: 30px;
  padding-left: 10px;
  border-left: #FA6980 solid 10px;
}
.news__item {
  width: 47.5%;
}

/*trending*/
.trending {
  padding: 60px 0px;
  background-color: #F6F6F6;
}
.trending__inner {
  margin-right: auto;
  margin-left: auto;
  width: 88%;
  max-width: 800px;
}
.trending__title {
  font-size: 24px;
  color: #202124;
  margin-bottom: 30px;
  padding-left: 10px;
  border-left: #FA6980 solid 10px;
}
.trending__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.trending__item {
  width: 47.5%;
}

/*discovery*/
.discovery {
  background-color: #F6F6F6;
  padding: 60px 0px;
}
.discovery__inner {
  margin-right: auto;
  margin-left: auto;
  width: 88%;
  max-width: 800px;
}
.discovery__title {
  font-size: 24px;
  color: #202124;
  margin-bottom: 30px;
  padding-left: 10px;
  border-left: #FA6980 solid 10px;
}
.discovery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.discovery__item {
  width: 30%;
}
/*# sourceMappingURL=style.css.map */